.texto-bill{
  background-image: var(--fundoprimario);
  background-size: cover;
  background-repeat: no-repeat;

}

.texto-bill__texto{
  color: var(--corfonte);
  font-weight: bold;
  font-size: 20px;
  text-align: center;
  padding: 10px 0;
}

.servicos{
  background-image: var(--fundosecundario);
  background-size: cover;
  padding-bottom: 10px;
  
}
/* .servicos--titulo{
  
} */

.titulos__subtitulo{
  color: var(--corfonte);
  text-align: center;
  font-size: 18px;
  padding-top: 30px;
}

.titulos__titulo{
  color: var(--corfonte);
  text-align: center;
  font-size: 50px;
  font-weight: bold;
  padding-top: 20px;
}

.gestao{
  align-items: center;
  display: flex;
  flex-direction: column;
}

.gestao__botao{
  color: #ffffff;
  font-size: 18px;
  font-weight: 700;
  margin-top: 15px
  /* display: flex;
  align-items: center;
  max-width:322px ; */
  ;
}

.servicos--gestao{
  display: flex;
  align-items: center;  
}

.gestao__img{
  width: 350px;
}

.gestao__titulo{
  color: var(--corfontesecundaria);
  font-weight: bold;
  font-size: 30px;
  text-align: center;
  padding: 0 0 16px 0;
}

.gestao__texto{
  color: var(--corfonte);
  font-size: 18px;
  text-align: justify;
}